[Desktop Entry]
Comment=
Terminal=false
Name=ViaLacteaVisualAnalytics
Exec=ViaLacteaVisualAnalytics
Type=Application
Icon=ViaLacteaVisualAnalytics
Categories=Graphics;
